{% extends "base.html" %}

{% block content %}
    <!--Title block-->
    <h1>[{{ artist.display_name }}'s Page]</h1>
    <!--Artist's genres-->
    <h2>
        {% for genre in genres %}
            {{ genre.genre.name }} /
        {% endfor %}
    </h2>
    <p>artist/{{ artist.username }}</p>
    <p>artist since {{ artist.join_date }}</p>
    <p>located in {{ artist.location }}</p>
    <hr>

    <h2>Followers:</h2>

    <!--Followers block-->
    {% for follower in followers %}
        <!--If follower is a listener display link to listener page-->
        {% if follower.type == "listener" %}
            <a href="/listener/{{ follower.username }}">{{ follower.display_name }}</a>
        {% endif %}
        <!--If follower is an artist display link to listener page-->
        {% if follower.type == "artist" %}
            <a href="/artist/{{ follower.username }}">{{ follower.display_name }}</a>
        {% endif %}
        <br>
    {% endfor %}

        <h2>Following:</h2>

    <!--Following block-->
    {% for following in followed %}
        <!--If following user is a listener display link to listener page-->
        {% if following.type == "listener" %}
            <a href="/listener/{{ following.username }}">{{ following.display_name }}</a>
        {% endif %}
        <!--If following user is an artist display link to artist page-->
        {% if following.type == "artist" %}
            <a href="/artist/{{ following.username }}">{{ following.display_name }}</a>
        {% endif %}
        <br>
    {% endfor %}


{% endblock %}