 {% extends 'base.html' %}
  {% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<p> Reply to: <a href="/post/{{ original_post.id }}">{{ original_post.text }}</a></p>
<table class="table table-hover">
        <tr>
            <td>
                 {% if comment.author.type == 'listener' %}
                <a href="{{ url_for('listener', name=comment.author.username) }}">
                    {% elif comment.author.type == 'artist' %}
                    <a href="{{ url_for('artist', name=comment.author.username) }}">
                        {% endif %}
                    <img src="https://cdn.discordapp.com/attachments/1037756499654610975/1042212100082241646/Placeholder_PFP.png"
                     width="45"
                    height="45"/>
                </a>
            </td>
            <td>
                {% if comment.author.type == "listener" %}
                <a href="{{ url_for('listener', name=comment.author.username) }}">
                    {% elif comment.author.type == "artist" %}
                    <a href="{{ url_for('artist', name=comment.author.username) }}">
                        {% endif %}
                    {{ comment.author.username }}
                </a>
                says:
                <br>
                {{ comment.text }}
                <p> On {{ comment.time_posted }} </p>
            </td>
        </tr>
    </table>

{% endblock %}