{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>[RESONATE]</h1>
    <em><h4>social media for music</h4></em>
    <hr>

    {% if user %}
        <b><p>Hi {{ user.display_name }}!</p></b>
        <p>Today's date is {{ date }}</p>
        <hr>

        <div class="alert">
                <em><h4>your feed</h4></em>
                {% for post in posts %}
                    <p> {% include '_post.html' %} </p>
                    <p> On {{ post.time_posted }}</p>
                    <p><a href="{{ url_for('post', id=post.id) }}">View Post</a></p>
                    <br>
                {% endfor %}
        </div>

        <hr>

        <div class="alert">
            <em><h4>artists for you</h4></em>
            {% if suggested_artists %}

                <div class="list-group">
                    {% for artist in suggested_artists %}
                        <a href="/artist/{{ artist.username }}" class="list-group-item list-group-item-action">
                            <h3>{{ artist.display_name }}</h3>
                            <p><b>
                                {% for genre in artist.genres %}
                                {{ genre.genre.name }} /
                                {% endfor %}
                            </b></p>
                            <p>Located in {{ artist.location }}</p>
                        </a>
                    {% endfor %}
                </div>

            {% else %}
                <p>you haven't visited enough artist pages</p>
                <p>to get artist recommendations :(</p>
                <a href="/discover">
                    <button type="button" class="btn btn-secondary">DISCOVER</button>
                </a>
            {% endif %}
            <br>
        </div>

    {% else %}
        <p>Resonate is a social media site for people who make music</p>
        <p>and people who listen to music.</p>
        <br>

        <div class="d-flex align-items-center justify-content-center">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
        </div>

        <div class="container">
            <div class="text-right">
                <p>nothing particular in mind?</p>
                <a href="/discover">
                    <button type="button" class="btn btn-primary btn-lg">DISCOVER</button>
                </a>
                <p></p>
                <br>

                <p>looking near you?</p>
                <a href="/local">
                    <button type="button" class="btn btn-info btn-lg">LOCAL</button>
                </a>
                <p></p>
                <br>

                <p>already a user?</p>
                <a href="/login">
                    <button type="button" class="btn btn-secondary">LOGIN</button>
                </a>
            </div>
        </div>

    {% endif %}
{% endblock %}