{% extends "base.html" %}

{% block app_content %}
    <!--Title block-->
    <h1>[{{ listener.display_name }}'s Page]</h1>
    {% if current_user.username != listener.username %}
        {% if not current_user.is_following(listener) %}
            <p>artist/{{ listener.username }} <a href="/follow/{{ listener.username }}">[Follow]</a></p>
        {% else %}
            <p>artist/{{ listener.username }} <a href="/unfollow/{{ listener.username }}">[Unfollow]</a></p>
        {% endif %}
    {% endif %}
    <p>listener since {{ listener.join_date }}</p>
    <em><p>{{ listener.bio }}</p></em>
    {% if current_user.username == listener.username %}
        <a href="/listener/{{ listener.username }}/edit">[Edit Account]</a>
    {% endif %}
    <hr>

    <h2>Followers:</h2>

    <!--Followers block-->
    {% for follower in followers %}
        <!--If follower is a listener display link to listener page-->
        {% if follower.type == "listener" %}
            <a href="/listener/{{ follower.username }}">{{ follower.display_name }}</a>
        {% endif %}
        <!--If follower is an artist display link to listener page-->
        {% if follower.type == "artist" %}
            <a href="/artist/{{ follower.username }}">{{ follower.display_name }}</a>
        {% endif %}
        <br>
    {% endfor %}

    <h2>Following:</h2>

    <!--Following block-->
    {% for following in followed %}
        <!--If following user is a listener display link to listener page-->
        {% if following.type == "listener" %}
            <a href="/listener/{{ following.username }}">{{ following.display_name }}</a>
        {% endif %}
        <!--If following user is an artist display link to artist page-->
        {% if following.type == "artist" %}
            <a href="/artist/{{ following.username }}">{{ following.display_name }}</a>
        {% endif %}
        <br>
    {% endfor %}

    <hr>

       <h2>Requests:</h2>

    {% if requests.first() != None %}
            <div class="list-group">
            {% for request in requests %}
                <a href="/request/{{ request.id }}" class="list-group-item list-group-item-action">
                    <h4>{{ request.subject }}</h4>
                    <p>
                        {{ request.description }}
                    </p>
                    <b><p>Category: {{ request.category }}</p></b>
                    <em><p>{{ request.time_posted }}</p></em>
                </a>
            {% endfor %}
             </div>
    {% else %}
            <p>This user hasn't submitted any requests.</p>
    {% endif %}


{% endblock %}