{% extends "base.html" %}

{% block app_content %}
    <h1>Register</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

     <p>
            {{ form.display_name.label }}<br>
            {{ form.display_name(size=32) }}<br>
            {% for error in form.display_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    <p>
            {{ form.repeat_password.label }}<br>
            {{ form.repeat_password(size=32) }}<br>
            {% for error in form.repeat_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

    <p>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>

    <p>
            {{ form.genres.label }}<br>
            {{ form.genres(size=10)}}
            {% for error in form.genres.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>

    <p>
            {{ form.similar_artists.label }}<br>
            {{ form.similar_artists(size=10)}}
            {% for error in form.similar_artists.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>


        {{ form.submit }}
    </form>

{% endblock %}